$primari-color: #1d1d1d;
$secundary-color: #343434;
$font: #fff;
$font-color: #2a9d8f;


@mixin justify {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin justify-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-weight: bold;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

header {
  @include justify();
  justify-content: space-evenly;
  width: 100%;
  height: 10rem;
  background-color: $secundary-color;

  p {
    width: 30%;
    font-size: 4rem;
    text-align: center;
    .flecha {
      position: relative;
      right: 3.5rem;
      top: 1.5rem;
    }
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 65%;
    li {
      margin: 0 auto;
      a {
        text-decoration: none;
        color: $font;
        font-size: 1.8rem;
      }

      a:hover {
        color: $font-color;
      }
    }
  }
}

main {
  background-color: $primari-color;

  h2 {
    font-size: 4rem;
  }
  .Presentacion {
    @include justify-column();
    width: 80%;
    margin: 0 auto;
    img {
      margin: 4rem auto;
    }
    p {
      font-size: 3rem;
      margin: 1rem auto;
    }
    span {
      color: $font-color;
    }
    .sobreMi {
      font-size: 2rem;
    }

    button {
      margin-top: 2rem;
      width: 15rem;
      height: 5rem;
      border-radius: 5rem;
      font-size: 2rem;
      color: $font;
      background-color: $font-color;
      border-style: none;
    }
  }
  .Habilidades {
    @include justify-column();
    width: 100%;
    .Skills {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
      justify-items: center;
      div {
        p {
          font-size: 2rem;
          text-align: center;
        }
        img {
          height: 8rem;
        }
      }
    }
  }

  .Portafolio {
    padding-bottom: 3rem;
    @include justify-column();

    div {
      @include justify-column();
    }

    p {
      margin: .5rem;
      font-size: 3rem;
      text-align: center;
      a {
        font-size: 2rem;
        text-decoration: none;
        color: $font-color;
      }
    }
    img {
      height: 15rem;
      
    }
  }
}

footer {
  height: 8rem;
  @include justify();
  justify-content: space-evenly;
  background-color: $secundary-color;

  img {
    height: 4rem;
  }
  a {
    color: $font;
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    footer {
      grid-column: 2/3;
    }
  }

  header {
    flex-direction: column;
    grid-row: 1/3;
    height: 100%;
    p {
      position: fixed;
      top: 1%;
      margin: 4rem;
      font-size: 8rem;
    }
    ul {
      flex-direction: column;
      position: fixed;
      top: 30%;
      width: auto;

      li {
        margin: 4rem auto;
        a {
          font-size: 3rem;
        }
      }
    }
  }
}
